.Dictionary section {
  background-color: #fff;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  max-width: 800px;
}

.Dictionary input {
  border-radius: 7px;
  border: 1px solid #757575;
  padding: 5px 10px;
  width: 50%;
  font-style: italic;
  color: #757575;
}
