.Dictionary section {
  background-color: #f8f6f1;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
}

.Dictionary h1 {
  color: #ea9085;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.Dictionary .word {
  background-color: #f8f6f1;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  color: #3891a6;
  font-size: 24px;
  font-style: italic;
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}

.Dictionary input {
  border: 1px solid #6e5773;
  border-radius: 5px;
  font-style: italic;
  padding: 5px 10px;
  width: 100%;
}

.Dictionary button {
  background-color: #d45d79;
  border: 1px solid #6e5773;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  padding: 5px 10px;
  transition: all 150ms ease-in-out;
  width: 100%;
}

.Dictionary button:hover {
  background-color: white;
  border: 1px solid #6e5773;
  color: #d45d79;
}
