.Phonetics {
  height: 30px;
}

.Phonetics a {
  text-decoration: none;
  border: 1px solid rgb(28, 27, 27);
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  padding: 2px 4px;
  transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
  text-decoration: none;
  background-color: blueviolet;
  color: #fff;
}

.Phonetics .text {
  font-size: 16px;
  opacity: 0.8;
}
